__pycache__/
*.pyc
*.pyo
*.pyd
*.db

venv/
.env/
.env

pkey.json

.env

.DS_Store
Thumbs.db

*.log

.vscode/
.idea/
node_modules/


build/
dist/
.next/
.env.local
.env.*.local
*.egg-info/

*.tmp
*.temp